@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.eot');
  src: url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.woff2') format('woff2'),
       url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.woff') format('woff'),
       url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.ttf') format('truetype'),
       url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family:'Glyphicons Halflings';
  src:url(../fonts/GlyphiconsHalflings/glyphicons-halflings-regular.eot);
  src:url(../fonts/GlyphiconsHalflings/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/GlyphiconsHalflings/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/GlyphiconsHalflings/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/GlyphiconsHalflings/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/GlyphiconsHalflings/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}



.clear
{
	clear: both;

}
.h-important
{
   font-family: 'robotoregular';
   color: #000;
   font-size: 18px;
}
.h-important span
{
  color: #e20613;
  font-size: 18px;

}
.Links-App-stores
{
  float: right;
}
ul.sub-cat-tours
{
  padding: 0 ;
  margin: 0;
  list-style: none;
}
ul.sub-cat-tours li
{
  line-height: 28px;

}
.slide-about .swiper-container
{
  max-height: 380px;
}
.lang_con
{
  margin: 0 auto;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
}

/********************************START hEADER ***************************/

.pageHome .utilityNavigation-parent li a {
font-weight: normal;
    font-size: 18px;
    font-family: 'robotoregular';
}

.pageHome .utilityNavigation-parent li:after {
    border-right: none;
}

.article div#brandcarousel .blog-posts-module__h2
{
  text-transform: uppercase;
  color: #252525;
}
h5.mediaContent-header span a{
  color: #585756;
}
.mediaContent-media
{
  padding: 0 !important;
}
.khuyenmai
{
  min-height: 75px;
  line-height: 75px;

}
.khuyenmai a
{
  font-family: 'robotoregular';
   font-size: 22px;
   text-transform: uppercase;
}
/********************************End hEADER ***************************/


/*--------------------------START paging-----------------------------*/
.wrap_paging {
	margin:10px auto;
	
	position: relative;
	width: 100%;
	    padding: 0px 0px;
	
}
.wrap_paging_top {
	position: relative;
	width: 100%;
	padding: 7px 0px;
	border-top: 1px dashed #CCC;
	border-bottom: 1px dashed #CCC;
	text-align: right;
}
.paging {
	margin:0px auto;
	text-align:center;
}
ul.pages li a i
{

		position:relative;
}
ul.pages .fa
{
	line-height: 25px !important;
}
.paging a {
	float: left;
	   
	margin-right: 5px;
	width: 25px;
	height: 25px;
	line-height: 25px !important;
	text-align: center;
	border: 1px solid #CCC;
	background: #f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	font-weight: bold;
}
.paging a.paginate_active {
	background: #2ba40d;
	border: 1px solid #27910d;
	color: #FFF;
}
.paging a:hover {
	background: #CCC;
}
.paging a.paginate_active:hover {
	background: #2ba40d;
	border: 1px solid #27910d;
	color: #FFF;
}

.pages {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.pages li {
	/*float: left;*/
	    list-style: none;
	    display: inline-block;
	margin-right: 5px;
}
.pages li a.active {
	background: #dc0000;
	  border: 1px solid #dc0000;
	  color: #FFF;
}

/*--------------------------END paging-----------------------------*/



.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
	padding:0;
	list-style:none;
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    margin-bottom: 6px;
}

.nav-tabs > li > a {
  padding-top: 8px;
    color: #000;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
		   background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent; 
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #dc0000;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999999;
}

.map-tab-content
{
	margin:10px auto;
}

.tabbable {
  *zoom: 1;
}

.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}

.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: auto;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/*****************************************END TAB MAP CONTACT ********************************************/



/***************************************Start Rating **********************************************/


.rating-star .star{
  float: left;
  font-size: 8px;
  margin-right: 10px;
}

.star .clear-rating{
  display: none !important;
}

.star .caption{
  display: none !important;
}

.rating-star .total-review{
  line-height: 23px;
  font-weight: bold;
} 

.wrap-review .clear-rating{
  display: none !important;
}

.wrap-review .caption{
  display: none !important;
}

.detail-review{
  margin: 20px 0px 20px 20px;
}

.detail-review .left-rating{
  float: left;
  margin-right: 15px;
}

.detail-review .left-rating div{
  margin-bottom: 5px;
}

.detail-review .right-rating{
  float: left;
}

.detail-review .right-rating .row-rating{
  position: relative;
  margin-bottom: 8px;
}

.detail-review .aera-rating{
  float: left;
  height: 14px;
  background: #f0f0f0;
}

.detail-review .aera-select{
  background: #ffae0d;
}

.detail-review .right-rating span{
  float: left;
  line-height: 14px;
    font-size: 11px;
    margin-left: 12px;
}

#btn-rating{
  display: inline-block;
  background: #ec7115;
  color: #fff;
  padding: 3px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

#btn-rating:hover{
  background: rgba(236, 92, 21, 0.77);
}

#wrap-review-customer{
  margin: 20px 0px;
}

.title-review-customer{
  margin: 25px 0 15px;
    padding: 3px 10px;
    line-height: 24px;
    background: #ebebeb;
    text-align: left;
    overflow: hidden;
    font-size: 17px;
    font-weight: bold;
    color: #757575;
}

.row-review{
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-left: 10px;
  padding-bottom: 10px;
  display: none;
}

.row-review .clear-rating{
  display: none !important;
}

.row-review .caption{
  display: none !important;
}

.row-review .date-rating{
  font-size: 11px;
  margin-bottom: 3px;
}

.row-review .title-rating{
  font-size: 12px;
    line-height: 25px;
    color: #666;
    font-weight: bold;
    margin-left: 20px;
}

.row-review .col-rating{
  margin-bottom: 5px;
}

.row-review .des-rating{
  line-height: 16px;
  vertical-align: bottom;
  font-size: 13px;
  margin-top: 10px;
}

.author-rating{
  margin-top: 5px;
}

.author-rating span{
  color: green;
}

#frm-rating{
  margin: 15px 0px;
  display: block;
}

.title-frm-rating{
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
}

#frm-rating form{
  background: #ebebeb;
  padding: 10px;
  position: relative;
}

.select-rating .clear-rating{
  display: none !important;
}

#frm-rating .frm-title{
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.title-bold{
  font-weight: bold;
}

#block-frm{
  position: absolute;
  display: block;
  background-color: rgba(235,235,235,.7);
  width: 100%;
  bottom: 0;
  left: 0px;
  top: 100px;
}

#frm-rating .btn-sub-rating{
  margin: 15px 0px 5px 0px;
}

#frm-rating .btn-sub-rating input{
  color: #fff;
  text-transform: uppercase;
  padding: 3px 10px;
  background: #f0814a;
  border: none;
}

#frm-rating .btn-sub-rating input:hover{
  opacity: 0.9;
}

.rating_per:hover, .rating_per:before, .rating-stars:hover, .rating-gly-star:hover, .star-rating:hover{
  cursor: default !important;
}


.hide {
    display: none!important;
}
.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.wrap-review .title {
    font-size: 15px;
    font-weight: bold;
}

.detail-review .right-rating .row-rating {
    position: relative;
    margin-bottom: 8px;
}

detail-review .aera-rating {
    float: left;
    height: 14px;
    background: #f0f0f0;
}

.detail-review .left-rating div {
    margin-bottom: 5px;
        font-size: 11px;
}

.title-frm-rating {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

#frm-rating form {
    background: #ebebeb;
    padding: 10px;
    position: relative;
}

#frm-rating .frm-title {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.wrap-rating .label-success {
    background-color: #5cb85c;
}
.wrap-rating .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.title-bold {
    font-weight: bold;
}
textarea.form-control {
    height: auto;
}

.wrap-rating .label {
  display:inline;
  padding:.2em .6em .3em;
  font-size:75%;
  font-weight:700;
  line-height:1;
  color:#fff;
  text-align:center;
  white-space:nowrap;
  vertical-align:baseline;
  border-radius:.25em;
}

.wrap-rating a.label:focus,
.wrap-rating a.label:hover {
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}

.wrap-rating .label:empty {
  display:none;
}

.wrap-rating .btn .label {
  position:relative;
  top:-1px;
}

.wrap-rating .label-default {
  background-color:#777;
}

.wrap-rating .label-default[href]:focus,
.wrap-rating .label-default[href]:hover {
  background-color:#5e5e5e;
}

.wrap-rating .label-primary {
  background-color:#337ab7;
}

.wrap-rating .label-primary[href]:focus,
.wrap-rating .label-primary[href]:hover {
  background-color:#286090;
}

.wrap-rating .label-success {
  background-color:#5cb85c;
}

.wrap-rating .label-success[href]:focus,
.wrap-rating .label-success[href]:hover {
  background-color:#449d44;
}

.wrap-rating .label-info {
  background-color:#5bc0de;
}

.wrap-rating .label-info[href]:focus,
.wrap-rating .label-info[href]:hover {
  background-color:#31b0d5;
}

.wrap-rating .label-warning {
  background-color:#f0ad4e;
}

.wrap-rating .label-warning[href]:focus,
.wrap-rating .label-warning[href]:hover {
  background-color:#ec971f;
}

.wrap-rating .label-danger {
  background-color:#d9534f;
}

.wrap-rating .label-danger[href]:focus,
.wrap-rating .label-danger[href]:hover {
  background-color:#c9302c;
}

.badge {
  display:inline-block;
  min-width:10px;
  padding:3px 7px;
  font-size:12px;
  font-weight:700;
  line-height:1;
  color:#fff;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  background-color:#777;
  border-radius:10px;
}

.badge:empty {
  display:none;
}

.btn .badge {
  position:relative;
  top:-1px;
}

.btn-group-xs>.btn .badge,
.btn-xs .badge {
  top:0;
  padding:1px 5px;
}

a.badge:focus,
a.badge:hover {
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}

.rating-sm {
    font-size: 2.5em;
}




/********************************************END RATING *************************************/





/********************************************START BOOK TOURS *************************************/


.tripInfo-book-tours dl:first-child {

}

.tripInfo-book-tours dt, .tripInfo-book-tours dd, .tripInfo-book-tours dd span {
    font-size: 18px;
    color: #252525;
}
.tripInfo-book-tours dl dt {
    font-weight: bold;
}
.tripInfo-book-tours dl dt, .tripInfo-book-tours dl dd {
    display: block;
    line-height: 1;
    margin: 0;
}

.tripInfo-book-tours dd a span {
    color: #dc0000;
}

.form-booking-tours h4
{
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px 0;
    margin-bottom: 20px;
}

/********************************************END BOOK TOURS *************************************/