


.ddsmoothmenu{
    display: inline-block;
		position:relative;
    
}

.menu .ddsmoothmenu ul{
    z-index:100;

}
/*Top level list items*/
.menu .ddsmoothmenu >ul >li{
    position:relative;
    display: inline;
    float: left;
    
    height: 48px;
}
/*Top level menu link items style*/
.ddsmoothmenu >ul >li >a{
    display:block;	
    padding: 0px 22px;
    font-size: 16px;
    color: #fff;
    font-family: 'RobotoMedium';
    text-transform: uppercase;
    
    line-height:48px;
}
.ddsmoothmenu ul li span{
    float:right;
}
* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{

}

.menu .ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	  color:#c00000;	
}

.ddsmoothmenu ul li a:hover{	

    color:#c00000;	
}
.ddsmoothmenu >ul >li:hover{	
   
}
.ddsmoothmenu >ul >li:hover:after{	

}

.ddsmoothmenu >ul >li:hover:before{	

}

/*1st sub level menu*/
.menu .ddsmoothmenu ul li ul{
    position: absolute;
    left: 0px !important;
    display: none; /*collapse all sub menus to begin with*/
    visibility: hidden;
    width:250px;
    top:48px!important;
    padding-left:0px;
    /*    background: rgba(200,201,195,0.5);*/
    overflow: visible !important;
    text-align: left;
    z-index: 999999999;
    background: #005ab3;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.menu .ddsmoothmenu ul li ul li{
    display: list-item;
    float: none;   
    text-transform: capitalize;
    z-index: 999999999;
    position: relative;
    
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menu .ddsmoothmenu ul li ul li ul{
    position: absolute;
    left: 250px !important;
    display: none; 
    visibility: hidden;

    width:250px;
    top:0px!important;
    z-index: 999999999;

}

/* Sub level menu links style */
.menu .ddsmoothmenu ul li ul li a{
    padding:  10px;
    margin: 0;
    text-transform:none;   
    display:block;
    font-size: 16px;
     font-family: 'RobotoMedium';
    color:#fff;

}
.menu ul li a:hover,.menu ul li a:hover i{
	  
      color:#c00000;	
}
.menu ul li:first-child a.active i{
	 color:#c00000;	
}
.menu ul li a.active{
 
     color:#c00000;	
}
.menu ul li.active{
	
}
.ddsmoothmenu >ul >li.active:after{	
   
}

.ddsmoothmenu >ul >li.active:before{	

}

.menu ul li ul li a.selected,.menu ul li ul li a:hover{	

    text-decoration: none;
	color:#fff;	background:#c00000;
}



/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
    display:none;
}

.rightarrowclass{
    position: absolute;
    top: 10px;
    right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
    opacity: 0.8;
}
