<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>4718D0787F6D6D37</RequestId><HostId>Z2RxgLzl/ZHKrK2NGQxg0NIck09KgkzfOOaDpwUQ23vUJKW/ziuD4zeh0QOCJJ2J1tmLluBeP34=</HostId></Error>