@charset "utf-8";
#responsive-menu{
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    z-index: 1234;
    top: 0;
/*    max-height: 420px;*/
    overflow-y: auto;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.4);  -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.4);  box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.4);
}
#responsive-menu .title .wrap{
    clear: both;
    width: 22px;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}
#responsive-menu .title .icon-bar{
    width: 22px;
    height: 2px;
    background: white;
    float: left;
    clear: both;
    margin-bottom: 3px;
}
#responsive-menu .title{
	background-size:auto 100%;
	padding-left: 10px;
	padding: 10px;
	height:40px;
	line-height:20px;
	
	color: white;
	font-size: 17px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.4);
	
	background:#003ef1;

}
#responsive-menu .content {}
#responsive-menu .content ul {
    list-style: none;
    padding: 0;
    background: #fff;
}
#responsive-menu .content > ul{
    display: none;
}

#responsive-menu .content  .toggle-menu{
	float:right;
	background: url(../../images/icon-1.png) no-repeat center center;

	width: 15px;
	height: 15px;
	cursor: hand;
	cursor: pointer;
	margin-right: 7px;
	position: absolute;
	top: 7px;
	right: 0px;
	padding: 10px;
}
#responsive-menu .content  .toggle-menu.active{
background: url(../../images/icon-2.png) no-repeat center center;
}
#responsive-menu .content  ul li a{
    color: #000;
    font-size: 16px;
    padding-left: 10px;display:block;
}
#responsive-menu .content  ul li{
    padding: 8px 0px;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: hand;
    cursor: pointer;
}
#responsive-menu .content  ul li:hover{background:#fff}
#responsive-menu .content  ul li ul{display:none}
#responsive-menu .content li li:first-child{border-top:1px solid #ccc}
#responsive-menu .content > ul > li ul{
    position: relative;
    top: 9px;
}
#responsive-menu .content > ul li ul li{
    text-indent: 10px;
}
#responsive-menu .content > ul li ul li ul li{text-indent:20px}
