.location-rel
{
	display:block;
}
.mapsmall_list 
{
  top: 0px;
  position: absolute;
  width: 320px;
  height: 250px;
  float: left;
  margin-left:inherit;
  margin-top:inherit;

  border: 2px solid #CCC;
  border-radius: 5px;
  background: #999;
  z-index: 1000;	
}
