.nd_hinhbd_marker img
{
	width:138px;
}

.thongtin_marker li {clear:both}
.right_title 
{
	padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #FF0505;
  font-family: 'roboto_condensedregular';
  font-weight: normal;
}
.create_date {color:#CCC;clear:both}
.h_bds, .bdslist_dtkv {float:left;color:#000 !important}
.left_bds {float:left;width:65px;padding-left:10px;padding-right:10px}
.right_bds 
{
float: left;
  padding-left: 10px;
  width: 75%;
 }
.right_bds .title_bds {font-size:16px; color:#000;font-family:Arial, Helvetica, sans-serif;font-weight:bold}
.right_bds .textTitle {color:#39F}

div.dnw-nav {background: #246EB3;}
#btnSubmit {cursor: pointer;font-size: 13px;font-family: Arial,Verdana,sans-serif;font-weight: bold;color: #FFF;text-decoration: none;text-indent: 0;text-align: center;display: inline-block;padding: 14px 15px;line-height: 3px;margin: 0 0px 0 0;zoom: 1;background: #36B;background: -webkit-gradient(linear,left bottom,left top,color-stop(1,#6991D4),color-stop(0.5,#1F7DCB),color-stop(0,#1F7DCB));background: -o-linear-gradient(#6991d4,#1F7DCB,#1F7DCB);background: -moz-linear-gradient(#6991d4,#1F7DCB,#1F7DCB);background: -webkit-linear-gradient(#6991D4,#1F7DCB,#1F7DCB);-moz-border-radius: 2px;-webkit-border-radius: 2px;border: 1px solid #1F7DCB;border-top-color: #38F;border-bottom-color: #163C7D;vertical-align: middle;white-space: nowrap;}
#btnSubmit:hover {background: #FC0;background: -webkit-gradient(linear,left bottom,left top,color-stop(1,#ADDB71),color-stop(0.5,#FC0),color-stop(0,#FC0));background: -o-linear-gradient(#FFFF00,#FFCC00,#FFCC00,#FFCC00);background: -moz-linear-gradient(#FFFF00,#FFCC00,#FFCC00,#FFCC00);background: -webkit-linear-gradient(#FF0,#FC0,#FC0,#FC0);border-color: #FF0 #FC0 #FC0;text-decoration: none;color: #930;border: solid 1px #ECBD00;}
.dnw-sheet {width:100% !important}
#map {width: 100%;overflow:auto;height:460px;right: 0px;top: 0;left: 0; float:left;margin-top:10px;}
.right_map {float:left;width:25%;border:solid 1px #CCC;height:50%}
.right_map1 {float:right;width:25%;border:solid 1px #CCC;height:50%}
#list {overflow-y:auto;height:60%}
.content_map {width:100%;overflow:hidden}

.giaban_marker {
  font-weight: bold;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FF0000;
  margin-right: 5px;
  text-align: center;
  right: 0;
  background-color: #EEE;
}
.nd_hinhbd_marker {
  float: left;
  height: auto;
  width: 138px;
  position: relative;
  background-color: #EEE;
  border: 2px solid #E3E3E3;
  margin-top: 5px;
}
.nd_hinhbd_marker .giaban_marker {
  padding: 4px;
  display: block;
  float: none;
  top: 0;
  width: 130px;
  position: relative;
}
.NoiDungInfoWin .loaibds {
  display: inline-block;
  color: #0060BF;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}
.NoiDungInfoWin .maso_bds {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.NoiDungInfoWin ul.thongtin_marker {
  line-height: 21px;
  margin-left:15px;
    

}
.NoiDungInfoWin ul.thongtin_marker li {
  list-style: none;
  clear: both;
}
ul.thongtin_marker li .float-left {
  width: 72px;
  float: left;
}
ul.thongtin_marker li .float-right {
  font-weight: bold;
  float: none;
  padding-left: 75px;
}
.textTitle {
  color: #0070e0;
}
.NoiDungInfoWinBottom {
  font-size: 11px;
  background-color: #F2F2F2;
  padding: 5px;
  width: auto;
  border: 0;
  color: #BFBFBF;
  margin: 2px 0;
  float:right;
}

.NoiDungInfoWinBottom a, a:visited {

}