 
/* Style the thumbnails */
.pika-thumbs{ padding: 0 16px; /*height: 75px;*/
  width: 90% !important;
  left: initial !important;
  margin: 0 auto !important;
  padding: 0 16px;
  /* height: 75px; */
  text-align: CENTER;
  margin: 0 auto;


}
.jcarousel-skin-pika ul li
{
	height: 100% !important;
}

.pika-thumbs li{ width: 105px;  padding: 0; overflow: hidden;		float: left; list-style-type: none; padding: 3px;  background: #fff; border: 1px solid #d1d1d1; cursor: pointer;

  

}
	.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: middle; overflow: hidden;}
	
/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {width: 730px;}
.pika-stage {position: relative; background: #ffffff; border: 1px solid #d0d0d0; padding: 4px; text-align:center; height:500px;}
.pika-stage img
{
/*height:500px !important; width:730px !important;*/

height: 100%;
  width:500px;
}
.pika-stage .caption {position: absolute; background: #000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px; 
			color: #fafafa; padding: 5px 10px; text-align: right; bottom: 0px; right: 0px;}
	.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(prev.png) no-repeat left 45%; height: 100%; width: 50px; top: 10px; left: 5px;cursor:pointer;}
	.pika-imgnav a.next {background: url(next.png) no-repeat right 45%; height: 100%; width: 50px; top: 10px; right: 5px;cursor:pointer;}
	.pika-imgnav a.play {background: url(play.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(pause.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}

/* The previous and next textual buttons */
.pika-textnav {overflow: hidden; margin: 10px 0 0 0;bottom:10px; position:absolute; display:none;}
.pika-textnav a {font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{position: absolute;bottom: 45px;left:15px;color:white;background:rgba(0,0,0,0.7);font-size:11px;padding:3px;-moz-border-radius: 5px;border-radius:5px;}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ background:url(loading.gif) 3px 3px no-repeat #000; background-color:rgba(0,0,0,0.9); color:white; width:60px; font-size:11px; padding:5px 3px; 
	text-align:right; position:absolute; top:15px; right:15px; }


/* Make the thubms tile on the left */
.pika-thumbs li{width: 145px; height:90px; } 
.pika-stage {/*position: absolute;left:165px;*/
margin: 0 auto;
  position: relative;
  left: 0;}
		
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-vertical { width: 150px; height: 510px;  padding-right:10px; overflow:hidden; }
.jcarousel-skin-pika .jcarousel-clip-vertical { width:  150px; height: 510px;}
.jcarousel-skin-pika .jcarousel-item-vertical { margin-bottom: 5px;}