.boxSearchPro {	
	background:#d9d8cd;
	border-top:1px solid #c3c2b8;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-left:1px solid #c3c2b8;
	min-height:200px;	
	margin-bottom:10px;
}

.List_Project {}
.List_Project .View2  {
	margin-bottom:15px;	
	background:url(../images/box_project.gif) no-repeat;
	width:690px;
	min-height:235px;
}
.List_Project .View2 .boxItem {	padding:15px;	}
.List_Project .View2 .boxImg {	width:300px;	}
.List_Project .View2 .boxImg .img  { width:300px; height:200px; overflow:hidden; text-align:center; }
.List_Project .View2 .boxInfo {	width:320px;	}
.List_Project .View2 h3 {
	color:#333333;
	font-size:16px;
	padding-bottom:5px;
	text-transform:uppercase;
}
.List_Project .View2 h3 a {color:#333333; text-decoration:none;}
.List_Project .View2 .info {
	list-style:none;	
}
.List_Project .View2 .info li {
	border-top:1px solid #e5e5e5;
	padding:3px 0px;
}

.boxProjectDetail {
	margin-bottom:20px; 
}

.boxProjectDetail .imgGallery img { width:420px; height:280px;}
.boxProjectDetail .gallery { margin-left:20px; position:relative}
.nav_tab_view {
	border-bottom:1px solid #c8c6bb;
	width:691px;		
	margin-bottom:15px;
}
.nav_tab_view ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

.nav_tab_view :after {
	/* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
}

.nav_tab_view li {
	float: left;
	padding-right:5px;
}


.nav_tab_view a {
	display: block;
	background:url(../images/tabDetail-L.png) 0px 0px  no-repeat;
	color: #66614b;
	font-weight: bold;
	text-transform:uppercase;
	text-align: center;
	text-decoration: none;	
	padding-left:10px;
	position:relative; 
	height:29px;
}
.nav_tab_view a span {
	background:url(../images/tabDetail-R.png) 100% 0px no-repeat;
	display: block;
	line-height: 29px;
	padding-left:10px;
	padding-right:20px;
}

.nav_tab_view a:hover {
	background-position:0px -30px; 
}
.nav_tab_view a:hover span {
	background-position:100% -30px;
}

.nav_tab_view a.active {
	background-position:0px -30px; 
	height:30px;
	margin-bottom:-1px;
	
}
.nav_tab_view a.active span {
	background-position:100% -30px;
	height:30px;
	margin-bottom:-1px;
}
 

.div_toggle {
	position:absolute;
	right:0;
	top:0;	
}
.div_toggle .icon_toggle {
	display:inline-block;
	line-height:20px;
	height:20px;
	width:20px;
	background:url(../images/icon_toggle.png) 0px 0px no-repeat;	
	text-decoration:none;
}
.div_toggle .icon_toggle.close {
	background-position:0px 0px ;	
}
.div_toggle .icon_toggle.open {
	background-position:0px -20px ;	
}

#List_Product { 
	padding:0px; 
}
.floatImgPro { 
	position:absolute;
	top:0px;
	right:0px;
	z-index:99;
}
.divCheckBox { position:absolute; left:0px; top:0;}

/*tbl_pro*/

#List_Product .tbl_pro {}
#List_Product .tbl_pro td.item {
	padding:8px;	  
	vertical-align:top;
}
#List_Product .tbl_pro td.item.last{ border-right:0px;}
#List_Product .tbl_pro td.item.item_select { } 
#List_Product .tbl_pro td.item .boxItem { text-align:center; 	position:relative;  border:2px solid #f6f6f6; position:relative; }
#List_Product .tbl_pro h3 {
  padding:2px; 
	font-weight:bold;
	text-align:center;
} 
#List_Product .tbl_pro h3 a { font-weight:normal;}
#List_Product .tbl_pro h3 a:hover { 
  text-decoration:none;
}

#List_Product .tbl_pro .img {  
	text-align:center;
	background:#FFF;
}

#List_Product .tbl_pro .price {
	color:#ff0000 ;
	font-weight:bold;
}


.price_old { text-decoration:line-through; font-size:11px; }
/*----------------- VIEW 1 ----------------*/
#List_Product .View1 {
  float:left;
	background:url(../images/hr.gif) bottom repeat-x;
	padding-bottom:10px;
	margin-bottom:10px;
	width:99.9%;
}
#List_Product .last {
	background:none;
	margin-bottom:0px;
	padding-bottom:0px;
}

#List_Product div.View1 div.item{
  float:left;
	margin:0; 
} 

#List_Product .View1 div.item .boxItem {
	margin:5px;	
} 
  
#List_Product .View1 h3 {
  padding:2px; 
	font-weight:normal;
	text-align:center;
}
#List_Product .View1 h3 a {}
#List_Product .View1 h3 a:hover { 
  text-decoration:none;
}

#List_Product .View1 .img {  
	text-align:center;
	background:#FFF;
}

#List_Product .View1 .price {
	color:#333333 ;
	font-weight:bold;
}

/*----------------- VIEW 2 ----------------*/

#List_Product .View2  {
	margin-bottom:15px;	
	background:url(../images/box_product.png) no-repeat;
	width:691px;
	min-height:171px;
}
#List_Product .View2 .boxItem {	padding:15px 0px;	}
#List_Product .View2 .boxImg {	width:205px; position:relative;	}
#List_Product .View2 .boxInfo {	width:450px;	padding-right:15px;}

#List_Product .View2 .boxImg .img {
	border:1px solid #c5c5c5;
	padding:4px;
	background:#ffffff;
	position:relative;
}
#List_Product .View2 .boxImg .img img {
	width:195px;
	height:130px;
}

#List_Product .View2 .boxImg  .extra_room {position:absolute; z-index:5; width:195px; height:25px; background:url(../images/shadow.png) ; color:#FFF; bottom:5px; line-height:25px; text-align:left; }
#List_Product .View2 .boxImg  .extra_room span {display:inline-block; margin-left:10px; height:25px; line-height:25px; padding-left:30px;  font-weight:bold; }
#List_Product .View2 .boxImg  .extra_room .bedroom { background:url(../images/bedroom.png) left center no-repeat;}
#List_Product .View2 .boxImg  .extra_room .bathroom { background:url(../images/bathroom.png) left center no-repeat;}


#List_Product .View2 h3 {
	color:#333333;
	font-size:11px;
	padding-bottom:5px;
	text-transform:uppercase;
}
#List_Product .View2 h3 a {color:#333333; text-decoration:none;}
#List_Product .View2 .info {
	list-style:none;	
}
#List_Product .View2 .info li {
	background:url(../images/hr_pro.gif) top repeat-x;
	padding:7px 0px;
}
#List_Product .View2 .info li.short {
	height:40px;	
	overflow:hidden;
}
#List_Product .View2 .price {
	font-weight:bold;
	color:#897c38;
}

.footerNav {  }
.footerNav .navPage { float:left;	 }
.footerNav .navPage .pagination { padding:5px;} 
.footerNav .goPage  {
	float:right;	
	width:200px;	
	text-align:right;
	padding-right:10px;
	text-align:right;	
}  

.noItem {
	padding:20px;
	text-align:center;
	color:#F00;	
}

/*********** DETAIL **********/
.boxGallery {
	background:#ddd8c2;
	padding:10px;
	border-top:1px solid #c6c2ae;
	border-left:1px solid #c6c2ae;	
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	margin-bottom:20px;
	position:relative;
}
.boxGallery .back {
	position:absolute;
	top:5px;
	right:15px;		
}
.boxGallery .boxTools {
	position:absolute;
	bottom:10px;
	right:0px;	
}
.boxGallery .boxTools .btn { text-transform:uppercase;}
.boxGallery .boxTools .sendmail { margin-right:10px;}
.boxGallery .boxTools .share { padding-top:3px;} 

h2.p_name{
	font-weight:bold;
	color:#66614b;
	font-size:15px;
	margin-bottom:10px;
	line-height:25px;
}

.boxDetail { margin-bottom:10px; padding:15px;} 
.boxDetail.bg {
	background: url(../images/hr_pro.gif) #e4e4dd top repeat-x;	
	border-bottom:1px solid #c8c6bb;
}
.fDetail  {
	font-size:14px;
	font-weight:normal;
	font-family: "customFont" ;
	font-size:24px;
	text-transform:uppercase; 
	color:#333333; 	
	margin-bottom:10px;
	padding-bottom:5px;
}
.desc ul {
	list-style:inherit;
	margin:0px;
	margin-left:15px;
}
.desc ol{
	list-style:decimal;
	margin:0px;
	margin-left:15px;
}
.boxDetail .address {
	background:url(../images/hr_pro.gif) bottom repeat-x;
	padding-bottom:10px;
	margin-bottom:5px;		
}
.boxDetail .info {
	background:url(../images/hr_pro.gif) bottom repeat-x;
	padding-bottom:10px;
	margin-bottom:5px;			
}
.boxDetail .info ul {list-style:none;}
.boxDetail .info li {
	float:left;
	width:45%;
	margin-right:10px;	
	background:url(../images/icon_li.png) 0px 7px no-repeat;
	padding-left:10px;
}

.boxDetail .divPrice {
	padding:5px 0px;	
}
.boxDetail .divPrice .price { color:#897c38; font-size:17px; font-weight:bold;}

.boxDetail .divOption {
	background:url(../images/hr_pro.gif) bottom repeat-x;
	padding-bottom:10px;
	margin-bottom:5px;			
}
.boxDetail .divOption.last{ background:none; padding-bottom:0px ; margin-bottom:0px;}
.boxDetail .divOption .option-root {}
.boxDetail .divOption .option-item { padding-left:30px;}
.boxDetail .divOption .option-item ul {list-style:none;}
.boxDetail .divOption .option-item li {
	
	
	background:url(../images/icon_li.png) 0px 10px no-repeat;
	padding:2px 0px;
	padding-left:10px;	
}
.boxDetail .divOption .option-item li.checkbox{
	float:left;
	width:20%;
	margin-right:10px;	
}

.boxDetail .list_facilities {}
.boxDetail .list_facilities ul {list-style:none;}
.boxDetail .list_facilities li {
	float:left;
	width:22%;
	margin-right:10px;	
	background:url(../images/icon_li.png) 0px 10px no-repeat;
	padding:2px 0px;
	padding-left:10px;
}

.boxDetail .list_nearest {}
.boxDetail .list_nearest ul {list-style:none;}
.boxDetail .list_nearest li {
	float:left;
	width:22%;
	margin-right:10px;	
	background:url(../images/icon_li.png) 0px 10px no-repeat;
	padding:2px 0px;
	padding-left:10px;
}


/*--------- tblOption -------*/
#tblOption {
	margin-bottom:10px;
	
}
#tblOption .title_cat { 

	background:url(../images/cat_hr.gif) bottom no-repeat;
	margin-bottom:5px;
	
}
#tblOption .title_cat h3{

	background:url(../images/title_cat.gif) #1B8EAD right no-repeat;
	padding:2px 10px;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
#tblOption .op_title {
	clear:both;
	display:block;
	color:#a00005;
	background: #f7f7f7;
	font-weight:bold;
	padding:5px;
	line-height:18px; 
	border-top:1px solid #cdcdcd ; 
	text-align:center;

}
#tblOption .op {
	float:left;	
	line-height:18px; 
	width:100%; 
	border-top:1px solid #cdcdcd;
}
#tblOption .op.row0{}
#tblOption .op.row1{ }
#tblOption .op .col1{
	float:left;
	width:30%;
	font-weight:bold;
	padding:5px;
	border-right:1px solid #cdcdcd;
}
#tblOption .op .col2{
	float:left;
	width:65%;
	padding:5px;
}


/* Skin TAB */
#tab-container-1 { position:relative; }
#tab-container-1-nav {
	list-style: none;
	margin: 0;
	padding: 0px;
}

#tab-container-1-nav :after {
	/* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
}

#tab-container-1-nav li {
	float: left;
	padding-right:1px;
}


#tab-container-1-nav a {
	display: block;
	background:url(../images/tabL.png) 0px 0px  no-repeat;
	color: #3e3e3e;
	font-size:11px;
	font-weight: bold;
	text-transform:uppercase;
	text-align: center;
	text-decoration: none;	
	padding-left:10px;
	position:relative;
}
#tab-container-1-nav a span {
	background:url(../images/tabR.png) 100% 0px no-repeat;
	display: block;
	line-height: 30px;
	padding-left:10px;
	padding-right:20px;
}

#tab-container-1-nav a:hover {
	background-position:0px -30px;
	color: #fff;
}
#tab-container-1-nav a:hover span {
	background-position:100% -30px;
}

#tab-container-1-nav a.active {
	background-position:0px -30px;
	color: #fff;
	height:31px;
	margin-bottom:-1px;
}
#tab-container-1-nav a.active span {
	background-position:100% -30px;
	height:31px;	
}

#tab-container-1 .tab-content {
	padding:10px;
	border:1px solid #c6c2ae;
	background:#ddd8c2;	
}
#tab-container-1 .tab-detail {
	padding:15px 0px;
	border:1px solid #c6c2ae;  
}
#tab-container-1 .tab {
	
}



/* Skin TAB */
#tab-detail { }
#tab-detail-nav {
	list-style: none;
	margin: 0;
	padding: 0px;
}

#tab-detail-nav :after {
	/* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
}

#tab-detail-nav li {
	float: left;
	padding-right:3px;
}


#tab-detail-nav a {
	display: block;
	background:url(../images/tabDetail-L.png) 0px 0px  no-repeat;
	color: #66614b;
	font-size:11px;
	font-weight: bold;
	text-transform:uppercase;
	text-align: center;
	text-decoration: none;	
	padding-left:10px;
	position:relative; 
	height:29px;
}
#tab-detail-nav a span {
	background:url(../images/tabDetail-R.png) 100% 0px no-repeat;
	display: block;
	line-height: 29px;
	padding-left:10px;
	padding-right:20px;
}

#tab-detail-nav a:hover {
	background-position:0px -30px; 
}
#tab-detail-nav a:hover span {
	background-position:100% -30px;
}

#tab-detail-nav a.active {
	background-position:0px -30px; 
	height:30px;
	margin-bottom:-1px;
	
}
#tab-detail-nav a.active span {
	background-position:100% -30px;
	height:30px;
	margin-bottom:-1px;
}

#tab-detail .tab-content {
	padding:10px;
	border:1px solid #c6c2ae;
	background:#ddd8c2;	
}
#tab-detail .tab-detail {
	padding:15px 0px;
	border:1px solid #c6c2ae; 
	background:#f5f5f1;
	
	background:url(../images/tab-detail_bg.png) bottom right no-repeat;
}
#tab-detail .tab {
	
}

/*GALLERY*/
.pic-detail {
	width: 420px;
	height: 280px;  
	border:1px solid #c5c5c5;
	padding:4px; 
	background-color: #ffffff;
	position:relative;	
	text-align:center;
}
.pic-detail img {
	height: 280px;
  width: 420px;
}
.new-gallery{ 
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
	
	/* carousel */	
	
	.gallery-carousel { 
		overflow: hidden; 
		position: relative; 
		width: 100%;
		height: 200px;
		}
		
	.gallery-carousel ul { 
		margin: 0; 
		padding: 0; 
		}
		
	.gallery-carousel li { 
  padding-top: 10px;
  float: none;
  margin: 0 0 0 0;
  list-style: none;
  width: 100%;
  height: 200px;

}
	.gallery-carousel ul li img {
		float: left; 
		margin: 0; 
		list-style:none; 
		margin: 0px 0px 10px 10px;
		border: 4px solid #fff;
		-webkit-transition: all linear 0.1s;
		   -moz-transition: all linear 0.1s;
		     -o-transition: all linear 0.1s;
		        transition: all linear 0.1s;
	}
	
	.gallery-carousel ul li img:hover {
		border: 4px solid #DF5026;
		cursor: pointer;
	}

			/* IE6 issues */
			.gallery-carousel ul { 
				width:100%; 
				}
				
			/* controls */	
		
			.controls  {

width: 190px;
  margin: 0;
  /* margin-left: 10px; */
  float: left;
  line-height: 0px;

}
				
			.controls img, .controls a:hover img {
				padding: 0 2px 0 0;
				margin: 0;
				vertical-align:middle;
				
				}
			.controls .more_image { display:inline-block; line-height:18px;}	
				
	/* gallery image */	
		
	.gallery-image {
		width: 99%;
  height: 380px;
  overflow: hidden;
  float: left;
  border: 1px solid #c5c5c5;
  padding: 4px;
  background-color: #ffffff;
  position: relative;
  text-align:center;

	}
.gallery-image #theImage {

  width: 100%;
  height: 100%;

}
		
	/* gallery disclaimer */	
		
	.gallery-disclaimer {

	  text-align: center;
  float: none;
  margin: 0;
  padding: 0px 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
  width: 98%;
  background: url(../images/shadow.png);


		}
		
	.gallery-disclaimer p {
		font-size: 11px;
		color: #FFF;
		margin-bottom: 0;
		padding:2px 0px;
		}
		
		
 

/**** OTHER PRO*****/
.box_other_product { padding:10px 0px;}
.box_other_product ul {list-style:none;}
.box_other_product li {
	border-bottom:1px dotted #ccc;
	margin-bottom:10px;
	padding-bottom:10px;
}
.box_other_product li.last{
	border-bottom:none;
	margin-bottom:0px;
	padding-bottom:0px;
}

.box_other_product li .img {
 	width:50px;
	height:50px;
	border:1px solid #ccc; 
	text-align:center;
	padding:1px;
}
.box_other_product li .name {
  width:115px;
	font-weight:bold;
} 
.box_other_product li .price { color:#c82d33}
  
 


/*box_modSearch*/
.box_modSearch { padding:5px;}
.box_modSearch ul {list-style:none;}
.box_modSearch li {
	padding:4px 0px;	
}
.box_modSearch li .select { width:100%}

.box_modSearch li .textfiled { width:100%}

.mess_result {
	font-size:12px; 
	text-align:center; 
    padding: 3px 0 2px;
}
.mess_result span {
	color:#FF0000;
	font-size:14px;
	font-weight:bold;
}

.font_keyword{
	background-color: yellow; 
	color: red; 
	font-weight: bold;
}
.font_keyword a {
	background-color: yellow; 
	color: red; 
	font-weight: bold;
}

/*COMMENT*/
.boxComment {   
}
.fComment {
	color:#444444;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold; 
	padding-bottom:5px;
	margin-bottom:5px;
} 
.divVotes {
	border-bottom:1px solid #d4d4d4;
	padding:5px 0px;
	margin-bottom:10px;
}
.divWrite { padding:10px;}
.c_textarea  {
	padding:5px 0px;	
}
.c_button {
	padding:2px 0px;
	text-align:right;
}
 
#ext_comment {
	background:#fff;	
} 
.divCommentList{
	overflow:auto;
	height:200px;
	padding:10px;		
}
.list_comment {
 	padding:5px 0px;	 
	display:block;	
	border-bottom:1px dotted #d4d4d4;
}
.list_comment .c-title {
	padding-bottom:5px;	
}
.list_comment .ctitle {font-weight:bold;	color:#882106;}
.list_comment .c-name {font-weight:bold; color:#0067b1; }
.list_comment .c-email	{color:#7c7c7c; font-weight:normal; font-size:11px;}
.list_comment .c-name a {color:#0067b1;}
.list_comment .c-desc {
	text-align:justify;
	padding:5px 0px;
	font-size:11px;
	font-family:Tahoma;
}
.list_comment .c-date	{color:#7c7c7c; font-weight:normal; font-size:11px;}

.list_comment .close{
	width:18px; height:16px; background:url(../images/icon_action.gif) no-repeat left -87px;  position:absolute;
	margin-left:620px;
	 
}
.list_comment	.close:hover, .closecom:hover{background:url(../images/icon_action.gif) no-repeat right -87px}

.vk-menu {padding:2px 0px;}
 
.ajax_mess {
	 border:1px dotted #d08215;padding:5px 5px; background:#FCF5CD ;
	 
}

.viewMore {
	text-align:right;
	padding:0px 5px;	
}  

/*Form*/
.note { padding:2px 0px;}

.divButton { text-align:center ; padding:10px 0px;}

.boxForm {  }

.divForm {
	width:45%;	
}
.item-form {
	padding:3px 0px;	 
	position:relative;
}
.item-form .label {
	display:block;
	font-weight:bold;
	padding-bottom:5px;	
}

.ui-datepicker {
	width:294px !important;	
}

.ui-datepicker table {
  font-size: 11px !important;
}
.ui-datepicker th {
   padding: 2px !important;
}
 
.ui-datepicker-trigger {
	position:absolute;
	bottom:5px;
	left:280px;
	
}
.validate label.checked {
  background:url("../images/icon_ok.gif") no-repeat 0px 0px;
}

.validate label { padding-bottom:2px; font-size:11px;}
.validate input.error {
	border:1px dotted #ff0000;
} 
.validate label.error { margin-left: -3px; padding: 5px;  color: #B70002; -moz-border-radius: 4px; -webkit-border-radius: 4px;  position:absolute; top:0px; right:0px; }

 
.validate label.checked {
  background:url("../images/icon_ok.gif") no-repeat 0px 0px;
} 

.validate  #filed_security_code label.error {
	left:100px !important;	
}
.boxForm .sbHolder{
	border:none;
	 margin:0;  position:relative; padding:4px 0px; width:auto; height:auto; background-image:none; background-color:#e9e9e3;
 	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 2px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
	-moz-box-shadow:    rgba(0, 0, 0, 0.6) 0 2px 2px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
	box-shadow:         rgba(0, 0, 0, 0.6) 0 2px 2px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
	height:20px;
	color:#333333;
	text-indent:7px;	
	width:300px;
	font-size:11px;
}
.boxForm .sbHolder:focus .sbSelector{
	
}
.boxForm .sbSelector{
	display: block;
	height: 28px;
	left: 0;
	line-height: 28px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0; 
	width:300px;
}
.boxForm .sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #333333;
	outline: none;
	text-decoration: none; 
}
.boxForm .sbToggle{
	background: url(../images/arr_select.png) center no-repeat;
	display: block;
	height: 28px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	z-index:1;
}
.boxForm .sbToggle:hover{
		background: url(../images/arr_select.png) center no-repeat;
}
.boxForm .sbToggleOpen{
		background: url(../images/arr_select.png) center no-repeat;
}
.boxForm .sbToggleOpen:hover{
		background: url(../images/arr_select.png) center no-repeat;
}
.boxForm .sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.boxForm .sbHolderDisabled .sbHolder{
	
}
.boxForm .sbHolderDisabled .sbToggle{
	
}
.boxForm .sbOptions{
	border:1px solid #ccc;
	border-top:none;
	background-color: #e9e9e3; 
	list-style: none; 
	margin: 0;
	padding: 0;
	position: absolute;
	top: 28px;
	width: 298px;
	z-index: 2;
	overflow-y: auto;
	min-height:100px !important;
}
.boxForm .sbOptions li{
	padding: 0px 0px;
}
.boxForm .sbOptions a{ 
	display: block;
	outline: none;
	padding:4px 10px 4px 3px;
	line-height:20px;
	font-size:11px;
}
.boxForm .sbOptions a:link, .boxForm .sbOptions a:visited{
	color: #333333;
	text-decoration: none;
}
.boxForm .sbOptions a:hover, .boxForm .sbOptions a:focus, .boxForm .sbOptions a.sbFocus{
	background:#333333 ;	
	color: #fff;	
} 
.boxForm .sbOptions li.last a{
	border-bottom: none;
}
.boxForm .sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.boxForm .sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.boxForm .sbOptions .sbSub{
	padding-left: 17px;
}

.boxForm .s-item-right .sbOptions {}
 
 
 

.twitter-share-button { width:90px !important;}
#___plusone_0 { width:80px !important;}
  
